
*{
    margin: 0;
    padding: 0;
   
}
html{
    height:100%
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(245, 242, 217);
}

.sect1 {
    flex: 1;
    
}

.log{
    font-size: 20px;
    color: rgb(32, 10,130);
    cursor: pointer;
    position:absolute;
    top:20px;
    right:50px;
    
    
}

.text-center1{
    text-align: center;
    color: rgb(231, 50, 50);
    font-size: 40px;
    padding: 25px 0px;
}


.text-center1 p{
    margin:20px auto;
}
.form1{
    max-width: 420px;
    margin: 0 auto;
    padding: 40px 80px;
    background-color:rgb(255, 129, 129); 
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

.form1-input{
    width: 100%;
    font-size: 16px;
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
    margin:16px auto;
    padding:6px 2px;
    background-color: white;
}
.form1-label{
    width: 100%;
    font-size: 19px;
    margin:16px auto;
    padding:6px 2px;
}
.btn2{
    padding: 4px 5px;
    margin: 7px 3px;
    border:none;
    color:rgb(246, 246, 248);
    /*font-weight: bold;*/
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    background-color:  rgb(231, 50, 50);
    

}
.btn2:hover{
    cursor: pointer;
    background-color: white;
    color:rgb(231, 50, 50);
    transition: 300ms;
}
/* Add media query for responsiveness */
@media only screen and (max-width: 600px) {
    form {
        padding: 10px;
    }
}
.tfooter {
    background-color: rgb(6, 3, 34);
    text-align: center; /* Center text */
    color: white;
    padding: 10px; /* Adjust padding as needed */
    margin-top: auto; 
}

.pfooter {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    align-items: center;
}


.pfooter span {
    font-size: 19px;
    padding: 5px 10px;
}

.pfooter i {
    margin-right: 5px; /* Adjust the spacing between icon and text */
}

.pfooter br {
    display: none; /* Hide line break on larger screens */
}
#image-preview {
    max-width: 100%; /* Ensures the image fits within the container width */
    max-height: 200px; /* Set the maximum height of the image */
    display: none;
    margin: auto;
  }

@media (max-width: 768px) {
    .pfooter br {
        display: block; /* Show line break on smaller screens */
    }
}